<h1 style="text-align: center">Welcome to Blogger</h1>
<h2>Read popular blogs.</h2>
<ul>
    <li><a href="/blog/1">Bangkok Trip</a></li>
    <li><a href="/blog/2">Graduation Day</a></li>
    <li><a href="/blog/3">Hiring Result Announcement</a></li>
</ul>

<h2>Authors</h2>
<ul>
    <li><a href="/blog/author/alfafa">Alfafa</a></li>
    <li><a href="/blog/author/raihan">Raihan</a></li>
</ul>
